$color_1: #F56D15;
$color_2: #5E17EB;
$color_3: #b0b0b0;
$color_4: #152c5b;

/* footer footer-bar {
        margin-left: 40px;
        margin-right: 40px;
    } */
footer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	.footer-wrapp {
		display: grid;
		grid-template-columns: 1fr;
		gap: 30px;
		.footer-brands {
			img {
				vertical-align: middle;
				border-style: none;
				max-width: 150px;
				max-height: 140px;
			}
			a.footer-title {
				display: block;
				padding: 10px;
				text-decoration: none;
				h1 {
					font-size: 37px;
					line-height: 13px;
					color: $color_1;
					font-weight: 400;
					span {
						font-size: 42px;
						line-height: 16px;
						color: $color_2;
						font-weight: 400;
					}
				}
			}
			p.footer-quote {
				margin-top: 24px;
				width: 100%;
				font-weight: 300;
				font-size: 15px;
				line-height: 24px;
				color: $color_3;
			}
		}
		.link-wrap {
			display: grid;
			grid-template-columns: 1fr;
			gap: 30px;
			margin-top: 2rem;
			h4 {
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				color: $color_4;
				display: block;
				padding: 10px;
				text-align: center;
			}
			ul.link-list {
				margin-top: 1rem;
				padding-left: 0;
				list-style: none;
				li.link-item {
					a {
						font-weight: 300;
						font-size: 16px;
						line-height: 2rem;
						width: fit-content;
						margin: auto;
						display: block;
						padding: 5px 10px;
						color: $color_3;
						text-decoration: none;
					}
					span {
						font-weight: 300;
						font-size: 16px;
						line-height: 2rem;
						width: fit-content;
						margin: auto;
						display: block;
						padding: 5px 10px;
						color: $color_3;
						text-decoration: none;
					}
				}
			}
		}
	}
	.footer-bottom {
		text-align: center;
		margin-bottom: 2rem;
		margin-top: 50px;
		span {
			font-weight: 300;
			font-size: 16px;
			line-height: 24px;
			color: $color_3;
		}
	}
}
@media screen and (min-width: 320px) {
	footer {
		.link-wrap {
			ul.link-list {
				li.link-item {
					a {
						display: block;
						width: fit-content;
						margin: auto;
					}
					span {
						display: block;
						width: fit-content;
						margin: auto;
					}
				}
			}
		}
		.footer-wrapp {
			.footer-brands {
				a.footer-title {
					h1 {
						font-size: 25px;
						span {
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 768px) {
	footer {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		.footer-wrapp {
			.footer-brands {
				a.footer-title {
					h1 {
						font-size: 30px;
						span {
							font-size: 34px;
						}
					}
				}
			}
			.link-wrap {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 20px;
				margin-top: 3rem;
				text-align: left;
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	footer {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 70px;
		.footer-wrapp {
			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 30px;
			margin-top: 0;
			.footer-brands {
				text-align: center;
				a.footer-title {
					font-size: 10px;
				}
				p.footer-quote {
					margin-top: 5px;
					font-size: 20px;
					text-align: center;
				}
			}
			.link-wrap {
				display: grid;
				grid-template-columns: 1fr 1fr;
				margin-top: 0;
				gap: 30px;
				h4 {
					font-size: 18px;
				}
				ul.link-list {
					margin-top: 24px;
					li.link-item {
						a {
							font-size: 16px;
						}
						span {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}
