<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../public/images/logo/favicon.png" />
    <title>RestoHub</title>
  </head>

  <body>
    <header>
      <a href="#maincontent" class="skip-link">Skip to Content</a>
      <app-bar class="app-bar"></app-bar>
    </header>

    <main>
      <div class="content">
        <hero-picture class="hero"></hero-picture>

        <div class="container" id="main-content" tabindex="0">
          <div id="content">
            <h2 class="section-title" tabindex="0">Daftar Restaurant</h2>
            <div class="main">
              <restaurant-list></restaurant-list>
            </div>
          </div>
        </div>

      </div>
    </main>

    <footer>
      <footer-bar></footer-bar>
    </footer>

  </body>
</html>
