@font-face {
  font-family: 'Roboto slab';
  src: url(../public/font/RobotoSlab-VariableFont_wght.ttf);
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body, main {
  width: 100%;
  min-height: 100vh;}

/* .main {
  height: 100%;
} */

body {
  font-family: 'Roboto slab';
  font-size: 12px;
  color: #424242;
}

.button,
a {
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  margin: 2px;
  box-sizing: border-box;
}


.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: #F56D15;
  color: white;
  padding: 10px 10px;
  border: 1px solid #F56D15;
  font-size: 18px;
  max-width: 96px;
  max-height: 80px;
  z-index: 100;
}

.skip-link:focus {
   top: 7px;
}

#main-Content #content {
  margin-top: 60px;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin-bottom: 40px
}

.favorite-section {
  margin-top: 6rem;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 60px;
}

.loader img {
  max-width: 200px;
  max-height: 200px;
}

.loader-text {
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: 17px;
}

.no-data-container {
  text-align: center;
  width: 100%;
  padding: 20px;
}

.no-data-container img {
  max-width: 100%;
  max-height: 500px;
}

.no-data-message {
  font-style: italic;
  font-size: 30px;
  color: #888;
}

@media screen and (min-width: 1200px){

  .container {
      margin: 0 10%;
  }
}

@import url(../scripts/component/navigation-bar/app-bar.css);
@import url(../scripts/component/hero/hero.css);
@import url(../scripts/component/restaurants/restaurants.css);
@import url(../scripts/component/footer-bar/footer.css);
@import url(./like-responsive.css);
@import url(./restoItem-skeleton.css);
@import url(./detail-skeleton.css);


