$color_1: #B4B4B3;
$color_2: #ffce31;
$color_3: #010611;
$color_4: #152c5b;
$color_5: #F15412;

@media screen and (min-width: 320px) {
	.container {
		margin: 0 2rem;
	}
	div#main-content {
		margin-top: 40px;
	}
	h2.section-title {
		margin: 20px auto;
		font-size: 20px;
		text-align: center;
	}
	restaurant-list {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
		width: 100%;
	}
	resto-item {
		.card {
			filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.25));
			background: #F0F0F0;
			border-radius: 15px;
			height: 100%;
		}
		a {
			text-decoration: none;
		}
		div.card {
			img.img-card {
				width: 100%;
				height: 120px;
				object-fit: cover;
				border-radius: 15px 15px 0 0;
			}
			div.text-card-wrapper {
				margin: 20px;
				div.card-description {
					width: 100%;
					div.card-upper {
						display: flex;
						justify-content: space-between;
						p.resto-location {
							font-weight: 400;
							font-size: 15px;
							line-height: 22px;
							color: $color_1;
						}
						div.rating {
							.rating-icon {
								color: $color_2;
								font-size: 16px;
							}
							.rating-value {
								color: $color_3;
								font-size: 15px;
							}
						}
					}
					div.card-bottom {
						h3.resto-title {
							font-weight: 500;
							font-size: 16px;
							line-height: 30px;
							color: $color_3;
							padding-bottom: 10px;
							margin-top: 12px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 425px) {
	restaurant-list {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 768px) {
	restaurant-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
	}
	resto-item {
		div.card {
			img.img-card {
				height: 180px;
			}
			div.text-card-wrapper {
				div.card-description {
					div.card-upper {
						p.resto-location {
							font-size: 15px;
						}
						div.rating {
							.rating-icon {
								color: $color_2;
								font-size: 16px;
							}
							.rating-value {
								color: $color_4;
								font-size: 16px;
							}
						}
					}
					div.card-bottom {
						h3.resto-title {
							font-size: 17px;
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: 1024px) {
	restaurant-list {
		grid-template-columns: repeat(4, 1fr);
		gap: 30px;
	}
	resto-item {
		div.card {
			img.img-card {
				height: 180px;
			}
			div.text-card-wrapper {
				div.card-description {
					div.card-upper {
						p.resto-location {
							font-size: 15px;
						}
						div.rating {
							.rating-icon {
								font-size: 20px;
							}
							.rating-value {
								font-size: 18px;
							}
						}
					}
					div.card-bottom {
						h3.resto-title {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
h2.section-title {
	font-size: 30px;
	color: $color_5;
}
